@media screen and (max-width: 480px){
    .title{
        font-size: 40px;
    }
}

@media screen and(min-width: 991px){
    .container-pannel-user{
        display: flex;
        justify-content: end;
    }
}