*{
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}
.maxy-card{
    background-image:  linear-gradient(#ffffffc7 , #ffffffc7), url("/img/body.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100;
    border-left: 1px solid black;
}
 /* NAVBAR */
.link-navbar, .uppercase{
    text-transform: uppercase;
    transition: 0.5s;
    text-shadow: 7px -1px 8px rgba(0, 0, 0, 0.54);
    color: rgb(107, 64, 8);
    background-color: transparent;
}
.link-navbar:hover{
    transform: scale(80%);
    color: black;
    text-shadow: 7px -1px 8px rgba(233, 132, 0, 0.596);
}


/* HEADER */
.header{
    background-image: url('/img/header.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.uppercase:hover{
    transform: scale(80%);
    color: black;
    text-shadow: 7px -1px 8px rgba(233, 132, 0, 0.596);
    background-color: transparent;
}
/* FOOTER */

.footer{
    background-image:  linear-gradient(#ffffffd7 , #00000049), url("/img/footer.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding: 30px 0px;
}
.container-icon{
    border-top: 1px solid black;
}
.link-footer:hover{
    color: white;
    text-shadow: 7px -1px 8px rgba(0, 0, 0, 0.54);
}

.link-footer{
    color: black;
    text-shadow: 7px -1px 8px rgba(255, 255, 255, 0.54);
    transition: 0.3s;
}
.link-footer-facebook:hover{
    transform:rotate(-15deg);
}
.link-footer-twitter:hover{
    transform:rotate(15deg);
}
.link-footer-pinterest:hover{
    font-size: 35px;
}
.link-footer-instagram:hover{
    transform:scale(80%);
}


/* HOME */
.card-home{
    box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.54);;
}

.button_enter:hover{
    background-color: orange;
    transition: 0.5;
}

/* CARD */
.box-img-card{
    height: 200px;
    width: 200px;

}